*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #f1f1f1;
}

/*encabezado y titulo de página*/
.header{
    padding: 30px;
    text-align: center;
    background-color: #b17d1e;
}
/*Estilo de barra de navegación*/
.topnav{
    overflow: hidden;
    background-color: #333;
}
/*Aquí configuramos los estilos de los enlaces de la barra*/
.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*hover de enlances*/
.topnav a:hover{
    background-color: #ddd;
    color: black;
}
/* Columna izquierda*/
.leftcolumn{
    float: left;
    width: 75%;
}
/* Columna derecha*/
.rightcolumn{
    float: right;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}
/* Imagen noticia principal */
.fakeimg{
    background-image: url("imagenes/principal.jpg");
    width: 100%;
    padding: 20px;
}
/*Imagen noticia de interés*/
.fakeimg2{
    background-image: url("imagenes/deinteres.jpeg");
    width: 100%;
    padding: 20px;
}
.fakeimg3{
    background-image: url("imagenes/comercial.jpg");
}
.fakeimg4{
    background-image: url("imagenes/avengers.jpg");
}
.fakeimg5{
    background-image: url("imagenes/joker.jpg");
}
.fakeimg6{
    background-image: url("imagenes/shazam.jpg");
}
/* Tarjeta de efectos para artículos*/
.card{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
/* efectos flotantes columnas y artículos*/
.row::after{
    content: "";
    display: table;
    clear: both;
}
/* Pie de página */
.footer{
    padding: 20px;
    text-align: center;
    background-color: #2eb7e0;
    margin-top: 20px;
}